# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.AlpacoII.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Yliopisto toita\GitHub\AlpacoII\AlpacoII\.idea\.idea.AlpacoII\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
